$padding: $nav-height + $navbar-padding-x + $navbar-brand-padding-y + 2rem;

.banner {
  background: url("../img/banner-calca-jeans-offlimits.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 0%;
  color: $red;
  text-shadow: 1px 1px $gray-300;
  // margin-top: $padding;
  margin-bottom: 2rem;
  padding: $padding 0;
  border-top: 1px solid $gray-400;
  border-bottom: 1px solid $gray-400;

  .btn {
    background-color: $red;
    border-color: $red;
    text-shadow: none;
  }

  .lead {
    color: $blue;
  }
}
