header {
  border-bottom: 3px solid $gray-500;

  .logo {
    @include breakpoints(xs, sm) {
      float: none;
      width: 8rem;
      height: 8rem;
    }

    display: inline-block;
    text-indent: -9999px;
    width: 15rem;
    height: 15rem;
    background: url(../img/logo-offlimits.svg);
    background-repeat: no-repeat;
    background-size: cover;
    float: right;
  }

  .logo-link {
    display: inline-block;
    width: 100%;
    text-align: center;
  }

  .social {
    @include breakpoints(xs, sm) {
      margin: 0 0 20px 20%;
    }

    @include breakpoints(md) {
      margin-left: 0;
    }

    @include breakpoints(xs) {
      margin-left: 8%;
    }

    margin-top: 50px;
    margin-left: 20%;
    display: inline-block;

    li {
      display: inline-block;
    }

    a {
      color: $black;
      text-decoration: none;
    }
  }

  .icon {
    text-indent: -9999px;
    width: 25px;
    height: 25px;
    background-repeat: no-repeat;
    background-size: cover;
    margin-right: 10px;

    &.instagram {
      background-image: url(../img/instagram.svg);
    }

    &.facebook {
      background-image: url(../img/facebook.svg);
    }

    &.phone {
      background-image: url(../img/phone.svg);
    }
  }
}
