// Start with assigning color names to specific hex values.
$white: #fff;
$black: #1d1d1d;
$red: #dc493e;
$green: #1fc77c;
$orange: #fff3e3;
$yellow: #f4c400;
$blue: #323956;

$primary: $blue;
$secondary: $gray-600;
$link-color: $primary;

$font-size-xs: 0.78rem;

// Spacing
$vertical-space: 3em;
$nav-height: 2.3rem;

$font-family-base: "Quicksand";
