// Start with assigning color names to specific hex values.
$white: #fff;
$black: #1d1d1d;
$red: #e11e25;
$green: #1fc77c;
$orange: #fff3e3;
$yellow: #f4c400;
$blue: #0275d8;

// Spacing
$vertical-space: 5em 0;
$nav-height: 2.3rem;
