.cart-contents {
  background: url(../img/cart.svg);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  height: 32px;
  width: 32px;
  margin: 0px 10px 0 3px;
  position: relative;

  a {
    color: $link-color;
    text-decoration: none;
    width: 100%;
  }
}

.cart-contents-count {
  // padding: 8px 15px;
  // display: block;
  position: absolute;
  color: $white;
  // height: 10px;
  // width: 10px;
  padding: 2px 8px;
  font-size: 12px;
  font-weight: bolder;
  border-radius: 50%;
  background-color: $link-color;
  right: -14px;
  top: -7px;
}

.woocommerce {
  .button.alt {
    background-color: $primary !important;
    color: $white;
  }

  .list-group-item a {
    display: block;
  }

  #cfpp .calculo-de-frete input {
    height: 40px;
  }

  #cfpp svg {
    height: 25px;
  }

  #cfpp .calculo-de-frete #calcular-frete {
    height: 41px;
    background-color: $primary !important;
    background-size: cover;
    border-radius: 3px;
    line-height: 43px;
    margin-left: 4px;
  }

  div.product form.cart .variations {
    margin-bottom: 5px;
  }
}

.link-como-medir,
.link-guia-medida {
  display: inline-block;
  vertical-align: top;
}

.como-medir-icon,
.guia-medida-icon {
  background-repeat: no-repeat;
  background-size: cover;
  display: inline-block;
  height: 30px;
  width: 30px;
  margin: 0px 10px 0 0;
}

.como-medir-icon {
  background: url(../img/icons/info.svg);
}

.guia-medida-icon {
  background: url(../img/icons/measure.svg);
}

.modal {
  padding: 0 !important; // override inline padding-right added from js
}
.modal .modal-dialog.wide {
  width: 100%;
  max-width: none;
  height: 100%;
  // margin: 0;
}
// .modal .modal-content {
//   height: 100%;
//   border: 0;
//   border-radius: 0;
// }
.modal .modal-body {
  overflow-y: auto;
}

.modal .wide .modal-body img {
  width: 100%;
}
