.cart-contents {
  background: url(../img/cart.svg);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  height: 32px;
  width: 32px;
  margin: 0px 10px 0 3px;

  a {
    color: $black;
    text-decoration: none;
  }
}

.cart-contents-count {
  padding: 8px 15px;
  display: block;
  font-size: 10px;
  font-weight: bolder;
}
